@{
    ViewBag.Title = "Home Page";
}

<script src="/Scripts/trump-cards.js"></script>

<div class="container">

    <div class="row">
      <div class="eight columns">
      	<h2>Your card!</h2>

          @if (Request.IsAuthenticated)
          {
              <li class="info alert" style="width:300px">
              <p><strong>Trump card:</strong> Somerset</p>

              <div id="category-selection">
              <p>Select your open data category!</p>
                  <div id="open-data">

                  </div>

                  <div id="category-error" style="color:red"></div>
               </div>

              <div id="category-highlow">
                  <p>How do you want to play your trump?</p>
                  <div class="medium primary btn"><a href="#" id="high">High</a></div>
                  <div class="medium secondary btn"><a href="#" id="low">Low</a></div>
              </div>

              <div id="category-played" style="color:yellow">
              </div>
              
              <div>
                  <div class="medium secondary btn"><a href="#" id="ready">Ready</a></div>
              </div>
          </li>
          }
          else
          {
              <p>Please login to play!</p>
          }

          
      </div>
    	<div class="four columns">
    		<h2>Leader board!</h2>
            <table>
                <thead style="font-weight:bold;">
                    <td style="padding-right:15px;font-weight:bold;">Position</td>
                    <td style="padding-right:15px;font-weight:bold;">Username</td>
                    <td style="font-weight:bold;">Score</td>
                </thead>
                <tr>
                    <td>1</td>
                    <td>@@adamsimsy</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="padding-right:15px;">@@mangopieface</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>@@kieranmaties</td>
                    <td>40</td>
                </tr>
            </table>
    	</div>
    </div>
  
</div>
